.section {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    color: #EFECEC;
    scroll-snap-align: start;
    position: relative;
    background-color: #001123;
    display: flex;

}

.container{
    min-width: 20vw;
    display: flex;
    justify-content: end;
}

.avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    z-index: 4;
    margin-top: 25vh;
}

.container::before{
    content: '';
    background: #ff5a1b;
    min-height: 80vh;
    align-self: flex-end;
    width: 150px;
    z-index: 3;
    position: absolute;
    left: 6vw;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 2em;

}


.title{
    font-size: 2.5rem;
    margin-top: 3em;
    margin-bottom: 0.5em;
    z-index: 3;
}


.about{
    top: 42%;
    width: 60%;
    left: 23%;
    line-height: 2.5em;
    color: #8F939A;
    color: rb;
    font-weight: 300;
    margin-bottom: 1em;
}

.hl{
    color: #ff5a1b;
}

@media screen and (max-width: 1300px) {

    .container{
        margin: 0em;
        min-width: 0em;
    }
    .container::before {
        display: none;
    }

    .section{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .avatar{
        margin-top: 0em;
        height: 100px;
        width: 100px;
    }
    .title{
        margin-top: 1em;
    }
    .text{
        margin: 0em;
        align-items: center;
    }
}

@media screen and (max-width: 767px) {


    .avatar{
        width: 50px;
        height: 50px;
    }


    .title{
        font-size: 1rem;
    }

    .text{
        font-size: 0.7rem;
    }

    .about{
        width: 80%;
    }

    /* .avatar{
        
    }

    .title{
        top: 18%;
        left: 50%;
        translate: -50% -50%;
        font-size: 1.7rem;
    }

    .about{
        top: 33%;
        left: 50%;
        translate: -50% -50%;
        width: 70%;
        font-size: smaller;
        margin-top: 3em;

    } */
}