.section {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    color: #EFECEC;
    scroll-snap-align: start;
    position: relative;
}

.title{
    font-size: 3vw;
    position: absolute;
    top: 28%;
    left: 20%;
    z-index: 3;
}


.avatar{
    width: 128px;
    height: 128px;
    border-radius: 50%;
    border-color: #EFECEC;
    border-width: 3px;
    border-style: solid;
    position: absolute;
    top: 22%;
    left: 8%;
    z-index: 2;
}

.about{
    position: relative;
    top: 40%;
    width: 42%;
    left: 14%;
    line-height: 2.5em;
    color: #8F939A;
    font-weight: 300;
    margin-bottom: 1em;
}

.hl{
    color: #FC9936;
}

.container{
    position: relative;
}

@media screen and (max-width: 1023px) {
    .rectangle {
        display: none;
    }

    .avatar{
        top: 20%;
        left: 50%;
        translate: -50% -50%;
        width: 64px;
        height: 64px;
        border-width: 1px;
    }

    .title{
        left: 50%;
        translate: -50% -50%;
    }

    .about{
        left: 50%;
        translate: -50% -50%;
        width: 70%;
    }
}

@media screen and (max-width: 767px) {


    .avatar{
        display: none;
    }

    .title{
        top: 15%;
        left: 50%;
        translate: -50% -50%;
    }

    .about{
        top: 33%;
        left: 50%;
        translate: -50% -50%;
        width: 70%;
    }
}