
:root{
    --fz-xxxs: 10px;
    --fz-xxs: 12px;
    --fz-xs: 13px;
    --fz-sm: 14px;
    --fz-md: 16px;
    --fz-lg: 18px;
    --fz-xl: 20px;
    --fz-xxl: 22px;
    --fz-heading: 40px;
    --border-radius: 4px;
    --c-w:#EFECEC;
    --c-o:#ff5a1b;
    --c-b:#001123;
    --c-bb:rgb(3,30,58)
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  cursor: none;
}

