.section {
    overflow: hidden;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #EFECEC;
    scroll-snap-align: start;
    position: relative;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hi {
    font-weight: lighter;
    z-index: 2;
    font-size: 1.5vw;
    
}

.name {
    margin: 0;
    font-family: 'Lalezar', sans-serif;
    font-size: 6vw;
    font-weight: lighter;
    line-height: 0.9em;
    padding: 0;
}

.bold {
    font-weight: 400;
    position: relative;
}

.icons {
    display: flex; 
    flex-direction: row;
    list-style: none;
    padding: 0; 
    margin-top: 1em;
}

.icon {
    margin-right: 2em;   
}

.icon:last-child {
    margin-right: 0; 
}  

.icon svg {
    font-size: 20px; 
}

.icon svg:hover{
    transition: all 0.3s ease-in-out;
    color: var(--c-o);
}

@media screen and (max-width: 1200px) {
    .hidden {
        display: none;
    }
    .name{
        font-size: 4rem;
    }
    .hi{
        font-size: 1rem;
    }
    .dot{
        display: none;
    }
}

@media screen and (max-width: 767px) {
    .name{
        font-size: 2.5rem;
    }
    .hi{
        font-size: 1rem;
    }
}

.mouseContainer{
justify-self:  flex-end;
}

.mouse {
    color: #ff5a1b;
    bottom: 20vh;
    position: absolute;
}

.arrow {
    transform: translateX(-50%);
    color: #ff5a1b;
    bottom: 15vh;
    position: absolute;
}

.bold::after{
    content: '';
    background: #ff5a1b;
    height: 0.8em;
    width: 100%;
    position: absolute;
    bottom: -0.2em;
    left: 0.2em;
    z-index: -1;
}



.dot{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: 100;
    pointer-events: none;
    width: 10px;
    height: 10px;
    background-color: #ff5a1b;
  }
  